[Desktop Entry]
Type=Application
Name=Dashlane
Comment=Dashlane vault (official dcli)
Exec=dashlane-app
Icon=dialog-password
Terminal=false
Categories=Utility;Security;
Keywords=password;vault;dashlane;
